<div class="container">
	<div class="carrinho-partial"></div>
	<div class="calculo-descontos-carrinho"></div>
</div>

@section Scripts{
	<script src="~/js/produto.js" type="module"></script>
}

@section Styles{
	<link href="~/css/produto.css" rel="stylesheet" />
}